body {
	margin: 0;
	padding: 0;
}

.wrap-logo {
	width: 420px;
	height: 400px;
	margin: 0 auto;
	margin-top: 150px;
	position: relative;
}

.head {
	position: absolute;
	top: 18px;
	left: 96px;
	width: 234px;
	height: 185px;
	border: 1px solid #000;
	border-top-left-radius: 117px 117px;
    border-top-right-radius: 117px 117px;
    border-bottom-left-radius: 117px 68px;
    border-bottom-right-radius: 117px 68px;
    background-color: #000;
    z-index: 10;
}

.eye {
	width: 44px;
	height: 66px;
	border: 1px solid #000;
	border-radius: 50% 50%;
	position: absolute;
	background-color: #fff;
}

.eye.left {
	left: 62px;
	top: 50px;
}

.eye.right {
	left: 123px;
	top: 50px;
}

.innerLeftEye {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 18px;
	height: 24px;
	border-radius: 50% 50%;
	border: 1px solid #000;
	background-color: #000;
}

.innerLeftEye:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 8px;
	background-color: #fff;
	top: 6px;
	left: 9px;
	border-radius: 50%;
}

.innerRightEye {
	position: absolute;
	width: 18px;
	height: 20px;
	top: 20px;
	left: 8px;
	border-top-left-radius: 50% 90%;
	border-top-right-radius: 50% 90%;
	border-bottom-left-radius: 50% 10%;
	border-bottom-right-radius: 50% 10%;
	background-color: #000;
	box-shadow: 0 -1px 2px black;
}

.innerRightEye:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 13px;
	bottom: -1px;
	left: 4px;
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 80%;
	background-color: #fff;
}

.fix {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
	top: 17px;
}

.fix:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
	left: 14px;
}

.mouthTopContainer {
	width: 158px;
	height: 29px;
	position: absolute;
	top: 120px;
	left: 39px;
	overflow: hidden;
	z-index: 1;
}

.mouthTop {
	width: 158px;
	height: 34px;
	position: absolute;
	border: 1px solid #ffa600;
	background-color: #ffa600;
	top: 0;
	left: 0;
	border-top-left-radius: 45% 34px;
	border-top-right-radius: 45% 34px;
}

.mouthBottomContainer {
	width: 158px;
	height: 15px;
	position: absolute;
	top: 146px;
	left: 39px;
	overflow: hidden;
	z-index: 1;
}

.mouthBottom {
	width: 158px;
	height: 24px;
	position: absolute;
	z-index: 1;
	border: 1px solid #ffa600;
	background-color: #ffa600;
	top: -4px;
	left: 0;
	border-top: none;
	border-bottom-left-radius: 45% 24px;
	border-bottom-right-radius: 45% 24px;
}

.lips {
	width: 116px;
	height: 24px;
	position: absolute;
	top: 146px;
	left: 60px;
	border: 1px solid #ffa600;
	background-color: #ffa600;
	border-top: none;
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
}

.lipShadow {
	width: 0;
	height: 0;
	position: absolute;
	top: 4px;
	left: -12px;
	border-right: 8px solid #000;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transform-origin: top right;
	transform: rotate(-60deg);
	z-index: 2;
}

.right.lipShadow {
	left: 114px;
	transform: rotate(60deg) rotateY(180deg);
}

.body {
	width: 326px;
	height: 300px;
	position: absolute;
	top: 135px;
	left: 48px;
}

.innerWrapper {
	width: 280px;
	height: 200px;
	position: absolute;
	top: 76px;
	left: 30px;
	overflow: hidden;
}

.inner {
	width: 218px;
	height: 210px;
	position: absolute;
	top: -71px;
	left: 25px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 50%;
	z-index: 4;
}

.outterWrapper {
	width: 262px;
	height: 250px;
	position: absolute;
	top: 54px;
	left: 32px;
	overflow: hidden;
}

.outter {
	width: 260px;
	height: 250px;
	position: absolute;
	top: -84px;
	border-radius: 125px;
	border: 1px solid #000;
	background-color: #000;
	z-index: 3;
}

.scarf {
	width: 258px;
	height: 110px;
	position: absolute;
	top: -2px;
	left: 34px;
	border: 4px solid #000;
	background-color: #fb0009;
	border-bottom-left-radius: 50% 76px;
	border-bottom-right-radius: 50% 76px;
	z-index: 5;
	border-top-left-radius: 30px 34px;
	border-top-right-radius: 38px 34px;
	border-top: none;
}

.scarfShadow {
	height: 70px;
	width: 60px;
	position: absolute;
	top: 0px;
	left: 6px;
	border-top: 6px solid #000;
	transform: rotate(-79deg);
	border-top-left-radius: 90px 120px;
	border-top-right-radius: 30px 30px;
}

.scarfShadowRight {
	width: 100px;
	height: 70px;
	position: absolute;
	top: 8px;
	left: 143px;
	border-right: 6px solid #000;
	border-bottom-right-radius: 70px 70px;
}

.scarfEnd {
	width: 52px;
	height: 64px;
	position: absolute;
	top: 90px;
	left: 74px;
	border: 3px solid #000;
	z-index: 4;
	background-color: #fb0009;
	border-bottom-left-radius: 50% 43%;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 20% 57%;
}

.scarfEndShadow {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 6px;
	left: 12px;
	border-top: 6px solid #000;
	transform-origin: top right;
	border-top-left-radius: 30px 30px;
	transform: skewX(4deg) scaleY(1.5) rotate(-60deg);
}

.handWrapper {
	position: absolute;
	top: 219px;
	left: 7px;
}

.leftHandTopContainer {
	width: 118px;
	height: 26px;
	position: absolute;
	z-index: 1;
	top: 55px;
	left: 50px;
	transform-origin: bottom left;
	transform: rotate(-70deg);
	overflow: hidden;
}

.leftHandTop {
	width: 128px;
	height: 54px;
	border: 1px solid #050346;
	position: absolute;
	border-top-left-radius: 44% 38px;
	border-top-right-radius: 56% 33px;
	background-color: #000;
}

.leftHandBottomContainer {
	width: 100px;
	height: 30px;
	position: absolute;
	z-index: 1;
	top: 78px;
	left: 50px;
	transform-origin: top left;
	transform: rotate(-70deg);
	overflow: hidden;
}

.leftHandBottom {
	width: 128px;
	height: 44px;
	border: 1px solid #050346;
	background-color: #000;
	border-top: none;
	position: absolute;
	top: -26px;
	border-bottom-left-radius: 48% 20px;
	border-bottom-right-radius: 52% 23px;
}

.rightHandTopContainer {
	width: 118px;
	height: 34px;
	position: absolute;
	top: 47px;
	left: 240px;
	transform-origin: bottom right;
	transform: rotate(65deg);
	overflow: hidden;
}

.rightHandTop {
	width: 148px;
	height: 54px;
	border: 1px solid #050346;
	position: absolute;
	left: -30px;
	border-top-left-radius: 59% 48px;
	border-top-right-radius: 41% 54px;
	background-color: #000;
	transform: rotateY(-180deg);
}

.rightHandBottomContainer {
	width: 110px;
	height: 58px;
	position: absolute;
	z-index: 1;
	top: 81px;
	left: 248px;
	transform-origin: top right;
	transform: rotate(90deg);
	overflow: hidden;
}

.rightHandBottom {
	width: 68px;
	height: 28px;
	border: 1px solid #000;
	position: absolute;
	top: 1px;
	left: 38px;
	background-color: #000;
	border-bottom-right-radius: 100% 40px;
	border-top: none;
	z-index: 999;
}

.footWrapper {
	position: absolute;
	top: 292px;
	left: 80px;
}

.leftFootTopWrapper {
	width: 130px;
	height: 37px;
	position: absolute;
	top: 16px;
	left: -1px;
	overflow: hidden;
	z-index: 2;
}

.leftFootTop {
	width: 120px;
	height: 60px;
	position: absolute;
	top: -10px;
	left: 3px;
	border: 4px solid #000;
	border-top-left-radius: 80% 70%;
	background-color: #ff9c00;
}

.leftFootBottomWrapper {
	width: 130px;
	height: 38px;
	position: absolute;
	top: 52px;
	left: -1px;
	overflow: hidden;
	z-index: 2px;
}

.leftFootBottom {
	width: 120px;
	height: 60px;
	position: absolute;
	top: -30px;
	left: 3px;
	border: 4px solid #000;
	border-top-left-radius: 50% 44%;
	border-top-right-radius: 50% 44%;
	border-bottom-left-radius: 50% 56%;
	border-bottom-right-radius: 50% 56%;
	background-color: #ff9c00;
}

.toe {
	width: 25px;
	height: 20px;
	position: absolute;
	top: 50px;
	left: 2px;
	border-top: 4px solid #000;
	z-index: 3;
	border-top-right-radius: 30px 30px;
	border-top-left-radius: 10px 10px;
	transform-origin: top left;
	transform: rotate(-45deg);
}

.rightFootTopWrapper {
	width: 134px;
	height: 36px;
	position: absolute;
	top: 22px;
	left: 134px;
	overflow: hidden;
	z-index: 2;
}

.rightFootTop {
	width: 120px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 4px;
	border: 4px solid #000;
	background-color: #ff9c00;
	border-top-right-radius: 32% 65%;
}

.rightFootBottomWrapper {
	width: 134px;
	height: 38px;
	position: absolute;
	top: 52px;
	left: 134px;
	overflow: hidden;
}

.rightFootBottom {
	width: 120px;
	height: 60px;
	position: absolute;
	top: -30px;
	left: 3px;
	border: 4px solid #000;
	background-color: #ff9c00;
	border-top-left-radius: 50% 56%;
	border-top-right-radius: 50% 56%;
	border-bottom-left-radius: 50% 44%;
	border-bottom-right-radius: 50% 44%;
}

.toe.right {
	transform: rotate(45deg) rotateY(180deg);
	left: 264px;
}
